#team{
    alignment: right;
    position:absolute;
    top:1px;
    right:0px;
    width:50%;
    padding: 15px;
}
#root{
    position:absolute;
    padding: 15px;
    top:1px; left:0px;
    width:50%;
    height: 800px;

}
body{
    display: flex;
    justify-content: space-between;
    flex-flow: row;
}
.employee{
    padding:20px;
}